*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(../image/tu\ pic.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    
}
nav{
    display: flex;
    padding: 1% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 17px;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}
.text-box h1{
    font-size: 60px;
    font-weight: 300;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color:#fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.hero-btn:hover{
    border: 1px solid #ff4800;
    background-color: #ff4800;
}
nav .fa{
    display: none;
}
nav .fa-regular
{
    display: none;
}

/* This is resposive code of textbox */
@media(max-width:700px){
    .text-box h1{
        font-size: 20px;
        font-weight: 300;
    }
    .text-box p{
        font-size: 9px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #0a2241;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        overflow: hidden;

    }
    nav .fa-regular{
        display: block;
        color: #fff;
        font-size: 22px;
        margin: 10px;
        cursor: pointer;
    }
    nav .fa{
        display: block;
        color: #fff;
        font-size: 22px;
        margin: 10px;
        cursor: pointer;
    }
}

.programs{
    width: 90%;
    text-align: center;
    padding-top: 100px;
}

.programs h1{
    font-size: 36px;
    font-weight: 600;
}

.programs p{
    font-size: 17px;
    font-weight: 300;
    color: #0a2241;
    line-height: 22px;
    padding: 10px;
}

.rows{
    display: flex;
    margin-top: 5%;
    justify-content: space-between;
    padding: 0 10px;
}

.programs-col{
    flex-basis: 31%;
    background-color: #eae6e6;
    margin-bottom: 5%;
    border-radius: 7px;
    padding: 20px 12px;
    box-sizing: border-box;
}

@media(max-width:700px)
{
    .rows{
        flex-direction: column;
    }
}

.programs-title{
    display: flex;
    padding: 5px 20px;
    line-height: 30px;
}

.programs-title .icon{
    font-size: 35px;
    font-weight: 600;
}

.programs-title h3{
    padding: 0 14px;
}