<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>
  </head>
  <body>
    <form action="">
      <input type="text" placeholder="Enter your name" /><br /><br />
      <input
        type="password"
        placeholder="Enter a password"
        minlength="4"
        maxlength="13"
      />
      <br />

      <input type="file" multiple accept=".jpg,.pdf" />
      <hr />
      <input type="range" min="10" max="40" name="" id="" />

      <hr />
      <input type="date" name="" id="" />
      <hr />
      <input type="time" name="" id="" />
      <hr />
      <input type="datetime" name="" id="" />
      <hr />
      <input type="week" name="" id="" />

      <hr />
      <input type="text" value="Gender" id="" />
      <input type="radio" id="male" name="gender" />
      <label for="male">Male</label>
      <input type="radio" name="gender" id="female" />
      <label for="female">Female</label>

      <hr />
      <!-- Checkbox -->
      <label for="">Select Your Favorite Language</label>
      <input type="checkbox" name="" id="python" />
      <label for="python">Python</label>
      <input type="checkbox" name="" id="JavaScript" />
      <label for="JavaScript">JavaScript</label>
      <input type="checkbox" name="" id="Java" />
      <label for="Java">Java</label>
      <input type="checkbox" name="" id="C++" />
      <label for="C++">C++</label>
      <input type="checkbox" name="" id="C#" />
      <label for="C#">C#</label>

      <hr />
      <!-- Select  -->
      <label for="">Choose your Faculty</label>
      <select name="" id="">
        <optgroup label="Science">
          <option value="CSIT">CSIT</option>
          <option value="BSC">BSC</option>
        </optgroup>
        <optgroup label="Humanities">
          <option value="BCA">BCA</option>
          <option value="BIM">BIM</option>
          <option value="LLB">LLB</option>
          <option value="BE">BE</option>
        </optgroup>
        <input list="tt" />
        <datalist id="tt">
          <option value="BCA">BCA</option>
          <option value="BIM">BIM</option>
          <option value="LLB">LLB</option>
          <option value="BE">BE</option>
        </datalist>
      </select>
      <hr />
      <fieldset>
        <legend>Message</legend>
      </fieldset>
      <input type="submit" value="submit" onclick="alert('submitted')" />
      <button type="reset" onclick="alert('Reset successfully')">Reset</button>
    </form>
  </body>
</html>
