<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Background Image</title>
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <section class="header">
      <nav>
        <a href=""><img src="../img/logo.png" width="250" /></a>
        <div class="nav-l inks">
          <ul>
            <li><a href="">ABOUT US</a></li>
            <li><a href="">CAREERS</a></li>
            <li><a href="">NEWS & EVENT</a></li>
            <li><a href="">ACADEMICS</a></li>
            <li><a href="">TEAM MEMBER</a></li>
          </ul>
        </div>
      </nav>
    </section>
  </body>
</html>
