<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Background Image</title>
    <link rel="stylesheet" href="../style.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <section class="header">
      <nav>
        <a href=""><img src="../img/logo.png" width="250" /></a>
        <div class="nav-l inks">
          <ul>
            <li><a href="">ABOUT US</a></li>
            <li><a href="">CAREERS</a></li>
            <li><a href="">NEWS & EVENT</a></li>
            <li><a href="">ACADEMICS</a></li>
            <li><a href="">TEAM MEMBER</a></li>
            <li>
              <i class="fa-solid fa-bars" style="color: #ff1a1a"></i>
            </li>
          </ul>
        </div>
      </nav>

      <div class="text-box">
        <h1>Tribhuvan University</h1>
        <p>
          Tribhuvan University is a public university located in Kirtipur,
          Kathmandu. Established in 1959, TU is the oldest and the largest
          university in Nepal with approximately 350,000 students.
        </p>
        <a href="#" class="hero-btn">Visit Us to more know</a>
      </div>
    </section>
  </body>
</html>
