<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../style.css" />
  </head>

  <body>
    <h1 align="center">Table</h1>
    <table border="1" align="center" cellspacing="0" cellpadding="10">
      <tr>
        <th>SN</th>
        <th>Name</th>
        <th>Address</th>
        <th>Zip Code</th>
        <th colspan="2">City</th>
        <!-- <th>State</th> -->
        <th>Mobile</th>
      </tr>
      <tr>
        <td>2</td>
        <td rowspan="2">Milan</td>
        <td>Kapasi</td>
        <td>2232</td>
        <td colspan="2" align="center">Ghorahi</td>
        <td rowspan="3">9847878778</td>
      </tr>
      <tr>
        <td>1</td>
        <!-- <td>Manish</td> -->
        <td>Kapasi</td>
        <td>2232</td>
        <td>Ghorahi</td>
        <td>Lumbini</td>
        <!-- <td>9847878778</td> -->
      </tr>
      <tr>
        <td>1</td>
        <td>Manish</td>
        <td colspan="4" align="center">Kapasi</td>
        <!-- <td>9847878778</td> -->
      </tr>
    </table>

    <p class="test">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores culpa a
      itaque suscipit? Laboriosam nostrum labore, quibusdam explicabo,
      cupiditate aliquam sequi voluptas beatae mollitia consequuntur ipsam
      veritatis nulla. Tenetur tempora aperiam dolore.
    </p>
    <section class="header">
      <h1>This is h1</h1>
    </section>
  </body>
</html>
