<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../font/css/all.min.css" />
  </head>
  <body>
    <section class="header">
      <nav>
        <a href="index.html"
          ><img src="../image/Picture1.png" alt="" height="50" width="200"
        /></a>
        <div class="nav-links" id="navlinks">
          <i class="fa-regular fa-circle-xmark" onclick="hideMenu()"></i>
          <ul>
            <li><a href="">ABOUT US</a></li>
            <li><a href="">CARRERS</a></li>
            <li><a href="">NEWS & EVENT</a></li>
            <li><a href="">ACADEMIS</a></li>
            <li><a href="">TEAM MEMBER</a></li>
          </ul>
        </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
      </nav>
      <div class="text-box">
        <h1>Tribhuvan University</h1>
        <p>
          The Tribhuvan University is lead program career in IT field. Software
          has become the backbone of our economy. <br />From large enterprises
          to small businesses,
        </p>
        <a href="#" class="hero-btn">Visit us to More Know</a>
      </div>
    </section>

    <section class="programs">
      <h1>Our Affiliated Programs</h1>
      <p>
        Tribhuvan University is a government University that leads all
        educations.
      </p>
      <div class="rows">
        <div class="programs-col">
          <div class="programs-title">
            <i class="fa fa-car"></i>
            <h1>Computer Science</h1>
          </div>
          <hr noshade="" />
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero
            architecto officiis autem necessitatibus cumque pariatur cupiditate
            perferendis. Vero saepe at eveniet facilis necessitatibus error quis
            fugit incidunt delectus, quod veritatis, dolorem provident totam? A
            reiciendis dolore vel ea doloribus eveniet corporis praesentium!
            Tempora fugiat impedit incidunt illum libero obcaecati quo.
          </p>
        </div>
        <div class="programs-col">
          <div class="programs-title">
            <i class="fa fa-car"></i>
            <h1>Computer Science</h1>
          </div>
          <hr noshade="" />
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero
            architecto officiis autem necessitatibus cumque pariatur cupiditate
            perferendis. Vero saepe at eveniet facilis necessitatibus error quis
            fugit incidunt delectus, quod veritatis, dolorem provident totam? A
            reiciendis dolore vel ea doloribus eveniet corporis praesentium!
            Tempora fugiat impedit incidunt illum libero obcaecati quo.
          </p>
        </div>
        <div class="programs-col">
          <div class="programs-title">
            <i class="fa fa-car"></i>
            <h1>Computer Science</h1>
          </div>
          <hr noshade="" />
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero
            architecto officiis autem necessitatibus cumque pariatur cupiditate
            perferendis. Vero saepe at eveniet facilis necessitatibus error quis
            fugit incidunt delectus, quod veritatis, dolorem provident totam? A
            reiciendis dolore vel ea doloribus eveniet corporis praesentium!
            Tempora fugiat impedit incidunt illum libero obcaecati quo.
          </p>
        </div>
      </div>
    </section>
    <script src="../js/main.js"></script>
  </body>
</html>
