@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.header {
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.72), rgba(0, 0, 0, 0.679)), url("img/pink.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

/* h1{
    color: red;
    background-color: green;
} */

.container{
    height: 100vh;
    background-image: url("img/pink.jpg");
    background-size: cover;
}


.header{
    min-height: 100vh;
    width: 100%;
    background-position: center;
    /* position: relative; */
}

.header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.816);
}

.header ul li{
    display: inline-block;
    padding: 0 0.4rem;
}

.header ul li a{
    text-decoration: none;
    color: white;
    font-size: 0.rem;
}

.text-box{
    margin: 1.2rem 2.2rem;
    padding: 1.2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.text-box h1{
    font-size: 3.4rem;
    color: rgb(229, 218, 218);

}

.text-box p{
    width: 50%;
    margin: 0.4rem 0 0.6rem;
    color: white;
}

.text-box a{
    color: rgba(255, 255, 255, 0.657);
}

.text-box a:hover{
    color: white;
}